body{
    font-family: Montserrat;
    overflow-x: hidden;
}

h3{
    font-size: 1.4em;
}
h4{
    font-size: 1.2em;
}

/* HEADER */

.header{
    background: #F80097;
    height: 50px;
    align-items: center;
    align-content: center;
    width: 100vw;
    position: fixed;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1em;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    -ms-flex-align: center;
}

.logo_a{
    display: flex;
}

.logo-img{
    height: 28px;
    border-radius: 3px;
}

.header_ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 5px;
    margin: 0;
    margin-right: 16px;
}
.header_ul_li_a{
    text-decoration: none;
    color: #fff;
}

.a-productos{
    color: #F80097;
    padding: 8px 10px;
    font-size: 1em;
    border-radius: 50px;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px #888a;
}
.a-productos:hover{
    color: #a80469;
    box-shadow: 1px 1px 10px #888f;
}
.a-productos:active{
    color: #666;
}

.a-contacto{
    transition: all 0.3s;
}
.a-contacto:hover{
    color: #ddd;
}

.menu-toggle{
    background: none;
    border: none;
    display: flex;
    padding-left: 0;
}
.mynaui--menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4.5 6.5h15M4.5 12h15m-15 5.5h15'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #fff;
    cursor: pointer;
}

/* MAIN */

.main{
    width: 100vw;
}

/* HERO */

.hero{
    /*
    background-image: url(assets/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background: url("assets/hero.png") center / cover no-repeat fixed;
    height: 500px;
    width: 100vw;
    text-align: center;

    display: flex;
    align-items: center;
}
.hero_flex_item{
    margin: auto;
    text-shadow: 0 0 15px #444;
    width: 100vw;
}
.hero_title{
    color: #fff;
    font-size: 3em;
}
.hero_subtitle{
    color: #fff;
}

/* PRODUCTOS */

.productos{
    text-align: center;
    width: 100vw;
    margin: auto;
}

.productos_h3{
    font-weight: 600;
}

.cubanitos-card{
    box-sizing: border-box;
    margin: 20px;
}

.cubanitos-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
}

.carrusel{
    display: flex;
    max-width: 100vw;
    background-color: #f5f5f5;
    max-width: 800px;
    overflow-x: scroll;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bbb;
}

.cubanitos-card_h4{
    margin-top: 0;
    font-size: 1em;
    font-weight: 600;
}

/* ENCARGOS */

.encargos{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

/* RAMO CUBANITOS */

.ramo-cubanitos{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.img-ramo{
    height: 300px;
    width: 300px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
}
.img-ramo{
    box-shadow: 0px 0px 10px #444;
}
.img-ramo:hover{
    box-shadow: 0px 0px 18px #444;
}

/* BOX CUBANITOS */

.box-cubanitos{
    margin: auto;
    text-align: center;
    padding: 10px;
}

.img-box{
    height: 300px;
    width: 300px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
}
.img-box{
    box-shadow: 0px 0px 10px #444;
}
.img-box:hover{
    box-shadow: 0px 0px 18px #444;
}

/* ABOUT */

.about{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 18px;
    padding-right: 24px;
}

.img-trofeo{
    height: 340px;
    width: auto;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #444;
}
.img-trofeo:hover{
    box-shadow: 0px 0px 18px #444;
    scale: 1.1;
}
.h4-mision, .h4-vision, .h4-valores, .h4-ubi{
    margin-top: 60px;
}
.valores-ul{
    list-style: none;
    margin: auto;
    text-align: center;
    line-height: 28px;
    padding: 20px;
}

.p-ubi{
    margin-bottom: 70px;
}


/* FOOTER */

/* FOOTER DESCRIP */

.footer{
    background: #222;
    color: #fff;
    padding: 14px;
    width: 100vw;
}

.footer-descrip{
    margin: auto;
}

.footer-descrip_ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-descrip_ul_li{
    margin: 0;
}
.seguinos{
    margin-right: 4px;
}
.contactanos{
    margin-left: 10px;
    margin-right: 10px;
}

.basil--instagram-outline {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 7a1 1 0 1 1 2 0a1 1 0 0 1-2 0'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12 7.25a4.75 4.75 0 1 0 0 9.5a4.75 4.75 0 0 0 0-9.5M8.75 12a3.25 3.25 0 1 1 6.5 0a3.25 3.25 0 0 1-6.5 0' clip-rule='evenodd'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M17.258 2.833a47.7 47.7 0 0 0-10.516 0c-2.012.225-3.637 1.81-3.873 3.832a46 46 0 0 0 0 10.67c.236 2.022 1.86 3.607 3.873 3.832a47.8 47.8 0 0 0 10.516 0c2.012-.225 3.637-1.81 3.873-3.832a46 46 0 0 0 0-10.67c-.236-2.022-1.86-3.607-3.873-3.832m-10.35 1.49a46.2 46.2 0 0 1 10.184 0c1.33.15 2.395 1.199 2.55 2.517a44.4 44.4 0 0 1 0 10.32a2.89 2.89 0 0 1-2.55 2.516a46.2 46.2 0 0 1-10.184 0a2.89 2.89 0 0 1-2.55-2.516a44.4 44.4 0 0 1 0-10.32a2.89 2.89 0 0 1 2.55-2.516' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #fff;
}
.instagram-logo{
    height: 24px;
}

/* FOOTER INFO */

.footer-info{
    margin: auto;
    text-align: center;
}

/* GITHUB */

.github{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
}
@media only screen and (max-width: 650px) {
    .github{
        align-items: center;
    }
}

.mdi--github {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    cursor: pointer;
    color: #fff;
}
