body{
    font-family: Montserrat;
}

/* HEADER */

.header{
    background: #F80097;
    height: 50px;
    align-items: center;
    align-content: center;
    width: 100vw;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1em;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    -ms-flex-align: center;
}

.logo_a{
    display: flex;
}

.logo-img{
    height: 28px;
    border-radius: 3px;
}

.header_ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 5px;
    margin: 0;
    margin-right: 5px;
}
.header_ul_li_a{
    text-decoration: none;
    color: #fff;
}

.menu-toggle{
    background: none;
    border: none;
    display: flex;
    padding-left: 0;
}
.mynaui--menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4.5 6.5h15M4.5 12h15m-15 5.5h15'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #fff;
}

/* MAIN */

.main{
    width: 100vw;
}

/* HERO */

.hero{
    /*
    background-image: url(assets/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background: url("assets/hero.png") center / cover no-repeat fixed;
    height: 500px;
    width: 100vw;
    text-align: center;

    display: flex;
    align-items: center;
}
.hero_flex_item{
    margin: auto;
    text-shadow: 0 0 15px #444;
}
.hero_title{
    color: #fff;
    font-size: 3em;
}
.hero_subtitle{
    color: #fff;
}

/* PRODUCTOS */

.productos{
    text-align: center;
    width: 100vw;
    margin: auto;
}

.productos_h3{
    font-weight: 600;
}

.cubanitos-card{
    box-sizing: border-box;
    margin: 20px;
}

.cubanitos-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-sizing: border-box;
}

.carrusel{
    margin: 20px auto;
    display: flex;
    max-width: 100vw;
    background-color: #f5f5f5;
}

.cubanitos-card_h4{
    margin-top: 0;
}